.link .menu_item{
width: 100%;
text-decoration: none;
background-color: #E64016;
}
.link:link{
text-decoration: none;
color: white;
font-weight: bold;
}

.menu_item:visited{
text-decoration: none;
background-color:#B6B6B6;
color: red
}

.menu_item:active{
text-decoration: none;
background-color:#B6B6B6;
color: red
}

.menu_item:hover{
text-decoration: none;
background-color: red;
color: black;
font-weight: bold;
}

.bot_menu{
width: 100%;
float: left;
text-align: right;
font-size: 0.7em;
height: 20px;
-webkit-border-radius: 0 0 7px 7px;
border-radius:  0 0 7px 7px;
}


.box_welcome{
width:46%;
height:300px;
float:left;
padding:5px;
color:#6B2400;

}
.box_time{
width:85%;
float: center;
color:#6B2400;
border:1px solid #999;
margin: 1em 5px;
padding:10px; 
background:#d8d8f4;
border-radius:8px 10px 10px;

}
.box_news{
width:48%;
height:300px;
float:right;
padding:10px;
color:#6B2400;
}
.img
{
margin:2px;
 border:1px solid #0000ff;
 height:auto;
 width:auto;
 float:left;
 text-align:center;
}
.img img

{
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
.img a:hover img
{
border:1px solid #0000ff;
}
.desc
{
text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
}

#word
{
text-align:justify;
}
.vietfood
{
width: 98%;
float:right;
}

#viet
{
text-align:justify;
width: 93%;

}
#map
{
border: 1px solid gray;
height: 240px; 
width: 100%;

}
#form2
{
width: 284px; 
height: 177px;
padding:8px;
float:left;
}

#menu
{
border: 2px solid #999;
padding: 10px 10px;

border-radius: 10px 15px;
-webkit-border-bottom-right-radius: 8px 15px;
width: 80%;
height:100px;
}
#add
{
border: 1px solid #999;
background-color: #d8d8f4;
margin: 1em 5px;
padding: 10px;
width:80%;
color:#6B2400;
border-radius: 15px 15px 40px;
-webkit-border-radius: 15px 8px 15px; 	
	
}
#video
{
text-align:justify;
width: 98%;
}
ul
{
list-style-type: circle;
}
#offer
{
border: 1px solid #999;
background-color:#B24700;
margin: 1em 5px;
padding: 8px;
width:85%;
color:white;
border-radius: 10px 10px 50px;
-webkit-border-radius: 10px 8px 20px; 
float: right;
height: 100px;
}
#flash
{
border: 1px solid #999;
width: 100%;
height:270px;
background-color:#E6E6E6;
padding: 6px;
border-radius: 15px 15px 30px;
-webkit-border-radius: 15px 8px 15px; 
}
